.App-Results {
    justify-content: center;
    background-color: #485761;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 2rem 2rem;
    width: 35%;
    visibility: hidden;
    position: relative;
}

.App-Results-Message, .App-Results-Destination {
    color: white;
}

.App-Results-Destination, .App-Results-Close {
    font-weight: bold;
}

.App-Results-Close {
    position: absolute;
    font-size: 20px;
    top: 1px;
    right: 10px;
    cursor: pointer;
}

.App-Result {
    list-style-type: none;
    color: white;
}

.App-Result:hover {
    font-weight: bold;
    cursor: pointer;
}

ul {
    margin-top: 2rem !important;
    -webkit-margin-after: 0 !important;
    -webkit-margin-start: 0 !important;
    -webkit-margin-end: 0 !important;
    -webkit-padding-start: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
}

.separator.small.white {
    height: 1px;
    margin: 20px auto 30px;
    opacity: 1;
    width: 100%;
}

.separator.small.white {
    background-color: #fff;
}