.App-Form {
    padding: 2rem 2rem;
}

.App-Form-Trips {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 2rem 2rem;
    width: 40%;
}

.App-Form-Trips-Content {
    flex-direction: column;
    width: 80%;
}

.App-Form-Trips-Content-Places, .App-Form-Trips-Content-Dates {
    margin-bottom: 1rem;
}

h2 {
    font-weight: 900 !important;
    font-size: 18px !important;
    margin-bottom: 2rem !important;
    color: #485761 !important;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}